# Node
node_modules

# Terraform
.terraform
.terraform.lock.hcl

# Examples terraform lock files
examples/**/.terraform.lock.hcl

# Intellij
.idea
*.iml

# vscode
.vscode

bigeye_cloudformation_v3.yaml
